@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-900 text-lg text-stone-100 selection:bg-amber-500 selection:text-stone-900;
}

a {
  @apply text-amber-400 hover:text-amber-500;
}

.fancy-gradient {
  @apply from-primary-300 via-primary-500 to-primary-700 text-black;
}

.fancy-gradient:hover {
  @apply from-primary-500 via-primary-700 to-primary-900 text-white;
}

.fancy-gradient-secondary {
  @apply from-secondary-300 via-secondary-500 to-secondary-700 text-black;
}

.fancy-gradient-secondary:hover {
  @apply from-secondary-500 via-secondary-700 to-secondary-900 text-white;
}

.text-shadow {
  text-shadow: 1px 1px 4px black;
}

.elden-ring-fade-separator {
  background: linear-gradient(to right, transparent 1%, #413D2E 5%, #413D2E 95%, transparent 99%);
}

.elden-ring-background {
  background: linear-gradient(to right, transparent 1%, black 5%, black 95%, transparent 99%);
}

@media screen(md) {
  .elden-ring-background {
    background: linear-gradient(to right, transparent 5%, black 15%, black 85%, transparent 95%);
  }
  .elden-ring-fade-separator {
    background: linear-gradient(to right, transparent 3%, #413D2E 15%, #413D2E 85%, transparent 97%);
  }
}

@media screen(lg) {
  .elden-ring-background {
    background: linear-gradient(to right, transparent 10%, black 20%, black 80%, transparent 90%);
  }
  .elden-ring-fade-separator {
    background: linear-gradient(to right, transparent 5%, #413D2E 20%, #413D2E 80%, transparent 95%);
  }
}